@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket Statistics</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
   
</head>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/dateformat")

@if (@User.Identity.IsAuthenticated)
{ 
     /*
      @Styles.Render("~/bundles/dhtmlx_css")
      @Scripts.Render("~/bundles/dhtmlx")
      <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
      <input id="currentUsername" type="hidden" value="@ViewBag.Username" />
      <input id="adminUser" type="hidden"  value="@ViewBag.IsAdmin" />
      <input id="userId" type="hidden"  value="@ViewBag.UserId" />
      <body onload="init();">
          @using (Html.BeginForm("LogOff", "User", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
          {
              @Html.AntiForgeryToken()
          }
      </body>
   */
   
         <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
         <input id="currentUsername" type="hidden" value="@ViewBag.Username" />
         <input id="adminUser" type="hidden" value="@ViewBag.IsAdmin" />
         <input id="userId" type="hidden" value="@ViewBag.UserId" />
         <input id="currentpage" type="hidden" value="@ViewBag.ReturnUrl"/>
         @Styles.Render("~/bundles/metronic_css")
         @Styles.Render("~/bundles/custom_css")
         <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-md">
             <div id="loading"></div>

             @using (Html.BeginForm("LogOff", "User", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
             {
                 @Html.AntiForgeryToken()
             }
            @if (@ViewBag.ReturnUrl == "1")
            {
             @Html.Partial("_QuickSearch")

            }
            @if (@ViewBag.ReturnUrl == "2")
            {
             @Html.Partial("_CreateSearch")
            }
             @if (@ViewBag.ReturnUrl == "3")
             {
                 @Html.Partial("_ExecuteSearch")
             }
             @if (@ViewBag.ReturnUrl == "4")
             {
                 @Html.Partial("_TicketData")
             }
             @if (@ViewBag.ReturnUrl == "5")
             {
                 @Html.Partial("_SearchLog")
             }
             @if (@ViewBag.ReturnUrl == "6")
             {
                @Html.Partial("_UserManagement")
             }   
         </body>

         @Scripts.Render("~/bundles/metronic_js")
         @Scripts.Render("~/bundles/custom_table")
         @Scripts.Render("~/bundles/custom")
   
}
else
{  

    @Scripts.Render("~/bundles/ajaxlogin")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/bootstrap_css")
    @Styles.Render("~/bundles/login_css")
    <body>

        <div class="container-fluid">
            <div class="row-fluid " style="margin-top: 100px;">
                <div class="span3">
                    <div class="key_logo">&nbsp;</div>
                </div>
                <div class="span6  login_body">
                    <div class="form_wrap" align="center">
                        @Html.Partial("_Login")
                    </div>
                    <div class="span3">
                    </div>
                </div>
            </div>
        </div>

    </body>
}
</html>
